*{
  margin: 0;
  padding: 0;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-family: serif;
}

body{
  background-color: black;
}

#container{
  width: 100%;
  position: relative;
}

#container .top-line{
  position: fixed;
  top: 0;
  background-color: rgba(243, 248, 0, 1);
  line-height: 3em;
  width: 100%;
}

.wrapper{
  width: 98%;
  max-width: 1080px;
  margin: 0 auto;
}

#container .logo-nav{
  line-height: 3em;
  overflow: hidden;
}

#container .logo{
  float: left;
  width: 30%;
}

#container nav{
  float: right;
  width: 69%;
  text-align: right;
  line-height: 3em;
}

#container .nav_btn{
  display: none;
  line-height: 3em;
  width: 3em;
  background-color: rgba(243, 248, 0, 1);
  float: right;
  font-weight: bolder;
  color: black;
  text-align: center;
}

#container .nav_btn:hover{
  cursor: pointer;
  background-color: black;
  color: rgba(243, 248, 0, 1);
}

#container nav ul{
  list-style-type: none;
}

#container nav ul li{
  display: inline-block;
  width: 25%;
}

#container nav ul li a{
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  text-align: center;
}

#container nav ul li a:hover{
  background-color: black;
  color: rgba(243, 248, 0, 1);
  cursor: pointer;
}

#container .middle-box{
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

#container .buttons{
  width: 70%;
  margin: 20% auto;
}

#container .largeButton{
  width: 45%;
  display: inline-block;
  margin-right: 2%;
  line-height: 2em;
  border: 5px solid rgba(243, 248, 0, 1);
  border-radius: 10px;
}

#container .largeButton:last-child{
  margin-right: 0;
}

#container .largeButton:hover{
  background-color: rgba(243, 248, 0, 1);
}

#container .largeButton:hover > a{
  color: black;
}

#container .largeButton a{
  text-decoration: none;
  color: rgba(243, 248, 0, 1);
  border: 5px solid black;
  border-radius: 10px;
  display: block;
  padding: 2% 0;
}

#container .login-form{
  margin: 5em auto;
  width: 50%;
  border: 1px solid rgba(243, 248, 0, 1);
}

#container .login-forma{
  width: 98;
  margin: 2% auto;
}

#container .login-text{
  width: 90%;
  line-height: 2em;
  margin: 1% 0;
  text-ident: 2%;
}

#container .submit{
  line-height: 2em;
  margin: 1% 0;
  width: 40%;
  background-color: rgba(243, 248, 0, 1);
  color: black;
}

#container .submit:hover{
  cursor: pointer;
  font-weight: bolder;
}

#container a.forgotten{
  line-height: 2em;
  color: rgba(243, 248, 0, 1);
  text-decoration: none;
}

#container a.forgotten:hover{
  text-decoration: underline;
}

#container .conf-box{
  margin: 0 auto;
  width: 100%;
}

.notification{
  width: 50%;
  margin: 5em auto;
  border: 3px solid rgba(243, 248, 0, 1);
}

.title{
  line-height: 2.5em;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(243, 248, 0, 1);
}

.title h2{
  font-size: 1.5em;
  color: black;
}

.notification .body{
  width: 98%;
  margin: 2% auto;
  color: rgba(243, 248, 0, 1);
}

.notification .body p{
  font-size: 1.3em;
  margin: 1% 0;
}

.notification .body button{
  display: inline-block;
  margin: 2% 0;
  line-height: 2em;
  padding: 0 5%;
  background-color: rgba(243, 248, 0, 1);
  color: black;
  text-transform: uppercase;
}

.notification .body button:hover{
  cursor: pointer;
  font-weight: bolder;
}

#container .footer-line{
  line-height: 3em;
  background-color: rgba(243, 248, 0, 1);
  position: fixed;
  bottom: 0;
  width: 100%;
}

#idejaSajta{
  margin: 5em 0;
}

#kontakt{
  margin: 12em 0;
}

.naslovIdeje{
  text-align: center;
  color: rgba(243, 248, 0, 1);
  font-size: 2em;
}

.sadrzajIdeje{
  color: white;
  font-size: 1.2em;
  text-align: justify;
}

.kontakt{
  text-align: center;
}

@media screen and (max-width: 640px){
  #container .logo{
    width: 80%;
  }

  #container .logo h2{
    margin-left: 2%;
    font-size: 1.5em;
  }

  #container nav{
    width: 100%;
  }

  #container nav ul.nav{
    display: none;
  }

  #container nav ul.responsive{
    display: block;
  }

  #container .nav_btn{
    display: block;
  }

  #container nav ul li{
    width: 100%;
    display: block;
  }

  #container .buttons{
    width: 90%;
    margin: 4em auto;
  }

  #container .largeButton{
    width: 100%;
    margin: 1em 0;
  }

  #container .login-form{
    width: 90%;
  }

  .notification{
    width: 90%;
    margin: 5em auto;
  }

  .notification .body button{
    padding: 0;
    font-size: 0.8em;
  }

  #container .footer-line li{
    margin: 0;
    width: inherit;
    margin-right: 2%;
    font-size: 0.8em;
    display: inline-block;
  }


}
