*{
  margin: 0;
  padding: 0;
  /*-moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;*/
}

.wrapper{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

#main{
  width: 100%;
  position: relative;
}

.top-line{
  line-height: 3em;
  overflow: hidden;
}

nav{
  float: right;
  width: 70%;
  text-align: right;
}

nav ul{
  list-style-type: none;
  width: 100%;
}

nav ul li{
  display: inline;
  text-align: center;
}

nav ul li a{
  display: inline-block;
  text-decoration: none;
  color: black;
  /*text-transform: uppercase;*/
  font-weight: bolder;
  width: 25%;
}

nav ul li a:hover{
  font-size: 1.05em;
  background-color: rgba(243, 248, 0, 1);
}

.top-banner{
  background-color: rgba(243, 248, 0, 1);
  border-top: 5px solid rgba(243, 248, 0, 1);
  border-bottom: 5px solid rgba(243, 248, 0, 1);
}

.top-banner .box{
  line-height: 10em;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

.banner small{
  font-size: .5em;
}

#body{
  overflow: hidden;
  margin: 1em 0;
}

#body .link-box{
  display: block;
  width: 19%;
  float: left;
  border: 5px solid rgba(243, 248, 0, 0);
  background-color: rgba(243, 248, 0, 0);
  overflow: hidden;
}

#body .link{
  border: 5px solid black;
  border-radius: 10px;
  display: block;
  text-align: center;
}

#body .link a{
  vertical-align: middle;
  text-decoration: none;
  color: black;
  text-align: center;
  border-radius: 10px;
  line-height: 1.5em;
  display: block;
  height: 3em;
  font-weight: bolder;
}

#body .link-box:hover{
  border: 5px solid rgba(243, 248, 0, 1);
  background-color: rgba(243, 248, 0, 1);
  border-radius: 10px;
}

.body-box{
  margin-top: 1%;
}

.link-box1{
  display: block;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.link-box1 a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.2em;
  width: 20%;
  background-color: rgba(243, 248, 0, 1);
  line-height: 2em;
  display: inline-block;
}

.profile-box .sidebar{
  width: 20%;
  float: left;
}

.profile-box .sidebar ul{
  list-style-type: none;
}

.profile-box .sidebar ul li{
  line-height: 2em;
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
}

.profile-box .sidebar ul li:last-child{
  border-top: none;
}

.profile-box .sidebar ul li:hover{
  background-color: rgba(243, 248, 0, 1);
}

.profile-box .sidebar ul li a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  display: block;
  margin-left: 5px;
}

.profile-main{
  width: 50%;
  text-indent: 1%;
  float: left;
  border-left: 1px dotted grey;
  border-right: 1px dotted grey;
}

.profile-main small{
  font-size: 0.5em;
}

.profile-side{
  width: 29%;
  float: right;
}

footer{
  background-color: rgba(243, 248, 0, 1);
  border-top: 5px solid rgba(243, 248, 0, 1);
  padding-bottom: 5px;
}

footer .box{
  border-top: 10px solid black;
}

footer .copyright{
  text-align: center;
  font-size: 1.2em;
  border-top: 1px dotted black;
  margin-top: 1%;
}

footer .copyright a{
  text-decoration: none;
  color: black;
}

footer .copyright a small{
  font-size: 0.8em;
}
