*{
  margin: 0;
  padding: 0;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

body{
  background-color: black;
}

.wrapper{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

#main{
  width: 100%;
  position: relative;
  background-color: black;
}

.top-line{
  line-height: 3em;
  overflow: hidden;
}

.top-line .logo{
  width: 30%;
  float: left;
}

.top-line h2.responsiveLogo{
  display: none;
  color: white;
}

nav{
  float: right;
  width: 70%;
  text-align: right;
}

nav ul{
  list-style-type: none;
  width: 100%;
}

nav ul li{
  display: inline;
  text-align: center;
}

nav ul li a{
  display: inline-block;
  text-decoration: none;
  color: white;
  /*text-transform: uppercase;*/
  font-weight: bolder;
  width: 25%;
}

nav ul li a:hover{
  font-size: 1.05em;
  background-color: rgba(243, 248, 0, 1);
  color: black;
}

span.nav_btn{
  display: none;
  line-height: 3em;
  width: 3em;
  background-color: rgba(243, 248, 0, 1);
  float: right;
  font-weight: bolder;
  color: black;
  text-align: center;
}

span.nav_btn:hover{
  cursor: pointer;
  background-color: black;
  color: rgba(243, 248, 0, 1);
}

nav li.responsive{
  display: none;
}

.top-banner{
  background-color: rgba(243, 248, 0, 1);
  border-top: 5px solid rgba(243, 248, 0, 1);
  border-bottom: 5px solid rgba(243, 248, 0, 1);
}

.top-banner .box{
  line-height: 10em;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

.banner small{
  font-size: .5em;
}

#body{
  overflow: hidden;
  margin: 1em 0;
}

#body .link-box{
  display: block;
  width: 18%;
  float: left;
  border: 5px solid rgba(243, 248, 0, 1);
  overflow: hidden;
  border-radius: 10px;
  margin: 0.5%;
}

#body .link{
  border: 5px solid black;
  border-radius: 10px;
  text-align: center;
}

#body .link a{
  vertical-align: middle;
  text-decoration: none;
  color: white;
  text-align: center;
  border-radius: 10px;
  line-height: 1.5em;
  display: block;
  height: 3em;
  font-weight: bolder;
}

#body .link a:hover{
  color: black;
}

#body .link:hover{
  background-color: rgba(243, 248, 0, 1);
  color: black;
}

#body .link-box:hover{
  border: 5px solid rgba(243, 248, 0, 1);
  background-color: rgba(243, 248, 0, 1);
  border-radius: 10px;
}

#body .responsiveSidebar{
  display: none;
}

.body-box{
  margin-top: 1%;
}

.body-box h2{
  color: rgba(243, 248, 0, 1);
}

.pretraga-main{
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  overflow: hidden;
}

.link-box1{
  display: block;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.link-box1 a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.2em;
  width: 20%;
  background-color: rgba(243, 248, 0, 1);
  line-height: 2em;
  display: inline-block;
}

#sidebar{
  width: 20%;
  float: left;
}

#sidebar ul{
  list-style-type: none;
}

#sidebar ul li{
  line-height: 2em;
  border-top: 1px dotted white;
}

#sidebar ul li:last-child{
  border-bottom: 1px dotted white;
}

#sidebar ul li:hover{
  background-color: rgba(243, 248, 0, 1);
}

#sidebar ul li a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  display: block;
  margin-left: 5px;
}

#sidebar ul li a:hover{
  color: black;
}

#oglasi{
  width: 80%;
  float: right;
  border-left: 1px dotted gray;
  overflow: hidden;
  padding-left: 1%;
}

#oglasi h2{
  color: rgba(243, 248, 0, 1);
}

#oglasi h3.nema{
  line-height: 3em;
}

#oglasi a{
  text-decoration: none;
  color: white;
}

#oglasi a .oglas{
  border-top: 1px dotted grey;
}

#oglasi a .oglas:last-child{
  border-bottom: 1px dotted grey;
}

#oglasi .oglas{
  width: 100%;
  margin: 2% auto;
  padding: 1% 0;
}

#oglasi .oglas h2{
  color: white;
}

#oglasi .oglas h2:hover{
  text-decoration: underline;
}

#oglasi a:hover > .oglas h2{
  color: rgba(243, 248, 0, 1);
}

#oglasi .oglas em.more{
  color: rgba(243, 248, 0, 1);
}

#oglasi .oglas em.more:hover{
  text-decoration: underline;
}

#oglasi .jedanoglas{
  margin: 2% 0;
}

#oglasi .jedanoglas h2{
  color: white;
}

#oglasi .ponudi{
  display: block;
  float: right;
  width: 20%;
  text-align: center;
}

#oglasi .ponudi a{
  text-decoration: none;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
  /*font-size: 1.2em;*/
  width: 100%;
  background-color: rgba(243, 248, 0, 1);
  line-height: 3em;
  display: inline-block;
}

#oglasi .oglasavac{
  margin: 5px 0;
}

#oglasi .ponudaPosao{
  width: 100%;
  text-align: center;
}

#oglasi .ponudaPosao h3{
  width: 100%;
  margin: 2% 0;
  text-align: justify;
}

#oglasi .ponudaPosao textarea{
  width: 100%;
  height: 20em;
  margin-bottom: 2%;
  font-size: 1.5em;
}

#oglasi button{
  width: 30%;
  line-height: 3em;
  color: black;
  font-weight: bolder;
  background-color: rgba(243, 248, 0, 1);
  font-family: serif;
}

#oglasi button:hover{
  cursor: pointer;
}

#pretrazivac{
  width: 20%;
  float: right;
}

#pretrazivac .lokacija{
  width: 98%;
  margin: 0 auto;
}

.profile-box{
  overflow: hidden;
  min-height: 300px;
}

.profile-main{
  width: 50%;
  text-indent: 1%;
  float: left;
  border-left: 1px dotted grey;
  border-right: 1px dotted grey;
  color: white;
}

.profile-main small{
  font-size: 0.5em;
}

.profile-side{
  width: 29%;
  float: right;
  color: white;
}

#inbox{
  width: 79%;
  float: right;
  padding-left: 1%;
  border-left: 1px dotted grey;
  overflow: hidden;
  min-height: 350px;
  color: white;
}

#inbox .close a{
  float: right;
  background-color: rgba(252, 0, 0, 0.1);
  font-weight: bolder;
  padding: 5px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

#inbox .close a:hover{
  background-color: rgba(252, 0, 0, 1);
}

#inbox h2{
  font-size: 2em;
  text-transform: uppercase;
  color: white;
}

#inbox h3.nema{
  font-size: 1.5em;
  color: white;
}

#inbox .nemaPoruka{
  padding: 2% 0;
}

#inbox section{
  position: relative;
  width: 100%;
  padding: 1% 0;
  overflow: hidden;
  color: white;
}

#inbox .fromTo{
  width: 90%;
  padding: 2%;
  border-radius: 10px;
}

#inbox a{
  text-decoration: none;
  color: white;
}

#inbox h3:hover{
  text-decoration: underline;
}

#inbox form.posaljiLinija{
  bottom: 2%;
  line-height: 2em;
}

#inbox .posaljiLinija input.tekst{
  line-height: 2em;
  width: 79%;
}

#inbox .posaljiLinija input.button{
  line-height: 2em;
  width: 20%;
  background-color: rgba(243, 248, 0, 1);
  cursor: pointer;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bolder;
  color: black;
  border-radius: 5px;
}

#inbox .izmeniProfil{
  width: 98%;
  border: 1px solid rgba(243, 248, 0, 1);
  margin: 1% auto;
}

#inbox .naslov{
  width: 100%;
  background-color: rgba(243, 248, 0, 1);
  line-height: 3em;
  color: black;
}

#inbox .naslov h3{
  width: 98%;
  margin: 0 auto;
}

#inbox .naslov h3:hover{
  text-decoration: none;
}

#inbox .telo{
  margin: 2% 0;
}

#inbox .telo section{
  width: 60%;
  margin: 0 auto;
  line-height: 1.5em;
  text-align: center;
}

#inbox .telo label{
  width: 29%;
  float: left;
  text-align: right;
  line-height: 1.5em;
}

#inbox .telo .input{
  width: 69%;
  float: right;
  line-height: 1.5em;
  font-size: 1em;
}

#inbox .telo textarea{
  height: 20em;
}

#inbox .telo .submit{
  width: 30%;
  margin: 0 auto;
  background-color: rgba(243, 248, 0, 1);
  color: black;
  line-height: 1.5em;
  padding: 5px 0;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
  float: right;
}

#inbox .telo .submit:hover{
  font-weight: bolder;
}

#inbox .telo .dvaDugmeta{
  text-align: center;
}

#inbox .telo .dvaDugmeta button{
  margin: 0 1%;
  float: none;
}

footer{
  background-color: rgba(243, 248, 0, 1);
  border-top: 5px solid rgba(243, 248, 0, 1);
  padding-bottom: 5px;
}

footer .box{
  border-top: 10px solid black;
}

footer .copyright{
  text-align: center;
  font-size: 1.2em;
  border-top: 1px dotted black;
  margin-top: 1%;
}

footer .copyright a{
  text-decoration: none;
  color: black;
}

footer .copyright a small{
  font-size: 0.8em;
}

@media screen and (max-width: 640px){

  .wrapper{
    width: 98%;
    margin: 0 auto;
  }

  .top-line{
    width: 100%;
    background-color: rgba(243, 248, 0, 1);
    color: black;
    position: sticky;
    top: 0;
    z-index: 2000;
  }

  .top-line .logo{
    width: 80%;
  }

.top-line h2.responsiveLogo{
  margin-left: 2%;
    display: block;
    color: black;
    font-size: 1.5em;
  }

  nav{
    width: 100%;
    text-align: center;
  }

  nav ul{
    display: none;
  }

  nav ul.responsive{
    display: block;
  }

  nav ul li{
    display: inline;
    text-align: center;
  }

  nav ul li a{
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    width: 100%;
  }

  span.nav_btn{
    display: block;
  }

  nav li.responsive{
    display: block;
  }

  .top-banner{
    display: none;
  }

  #body .link-box{
    width: 100%;
  }

  /*#body .link a{
    color: white;
    font-size: 0.8em;
    text-align: center;
    border-radius: 10px;
    line-height: 1em;
    display: block;
    height: 3em;
    font-weight: bolder;
  }*/

  #body .link a:hover{
    color: white;
  }

  #body .link:hover{
    background-color: black;
    color: rgba(243, 248, 0, 1);
  }

  #body .link-box:hover{
    border: 5px solid rgba(243, 248, 0, 1);
    background-color: black;
    border-radius: 10px;
  }

  #body .responsiveSidebar{
    display: block;
  }

  #body .responsiveSidebar ul{
    width: 100%;
    list-style-type: none;
  }

  #body .responsiveSidebar li{
    width: 98%;
    text-align: center;
    background-color: rgba(243, 248, 0, 1);
    border-radius: 5px;
    line-height: 2em;
    margin: 2% auto;
  }

  #body .responsiveSidebar a{
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
  }

  #sidebar{
    display: none;
    width: 0;
  }

  #oglasi{
    width: 98%;
    margin: 0 auto;
    float: none;
    border-left: none;
    overflow: hidden;
    padding-left: 0;
  }

  #oglasi aside{
    width: 100%;
    padding: 1em 0;
  }

  #oglasi .ponudi{
    clear: both;
    width: 100%;
  }

  .link-box1 a{
    width: 50%;
  }

  #inbox{
    width: 98%;
    float: none;
    padding-left: 0;
    margin: 0 auto;
    border-left: none;
  }

  #inbox .close a{
    float: right;
    background-color: rgba(252, 0, 0, 1);
  }

  #inbox h2{
    font-size: 1.5em;
    color: rgba(243, 248, 0, 1);
  }

  #inbox h3.nema{
    font-size: 1em;
  }

  #inbox .nemaPoruka{
    padding: 0;
  }

  #inbox section{
    padding: 1% 0;
  }

  #inbox .fromTo{
    padding: 2%;
  }

  #inbox h3:hover{
    text-decoration: none;
  }

  #inbox .posaljiLinija input.tekst{
    width: 100%;
  }

  #inbox .posaljiLinija input.button{
    width: 100%;
  }

  #inbox .naslov h3{
    font-size: 1em;
  }

  #inbox .naslov h3{
    width: 98%;
    margin: 0 auto;
  }

  #inbox .naslov h3:hover{
    text-decoration: none;
  }

  #inbox .telo{
    margin: 2% 0;
  }

  #inbox .telo section{
    width: 98%;
    margin: 0 auto;
  }

  #inbox .telo label{
    width: 49%;
    float: left;
    text-align: right;
    line-height: 1.5em;
  }

  #inbox .telo .input{
    width: 50%;
    float: right;
    line-height: 1.5em;
    font-size: 1em;
  }

  #inbox .telo textarea{
    height: 20em;
  }

  #inbox .telo .submit{
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bolder;
    float: none;
  }

  #inbox .telo .dvaDugmeta{
    text-align: center;
  }

  #inbox .telo .dvaDugmeta button{
    margin: 1%;
    float: none;
  }

  .profile-main{
    width: 98%;
    text-indent: 0;
    margin: 0 auto;
    float: none;
    border-left: none;
    border-right: none;
    min-height: 0px;
  }

  .profile-main small{
    font-size: 0.5em;
  }

  .profile-side{
    border-top: 1px dotted grey;
    margin-top: 5%;
    width: 98%;
    float: none;
  }

  footer .box{
    border-top: 5px solid black;
  }

  footer .copyright{
    width: 98%;
    font-size: 0.6em;
    margin: 1% auto;
  }

  footer .copyright a{
    font-weight: bolder;
  }
}
