*{
  margin: 0;
  padding: 0;
  /*-moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;*/
}

body{
  background-color: black;
  height: 100%;
}

.wrapper{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

#main{
  width: 100%;
  position: relative;
  background-color: black;
}

.top-line{
  line-height: 3em;
  overflow: hidden;
}

nav{
  float: right;
  width: 100%;
  text-align: right;
}

nav ul{
  list-style-type: none;
  width: 100%;
}

nav ul li{
  display: inline;
  text-align: center;
}

nav ul li a{
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  width: 15%;
}

nav ul li a:hover{
  background-color: rgba(243, 248, 0, 1);
  color: black;
}

.top-banner{
  background-color: rgba(243, 248, 0, 1);
  border-top: 5px solid rgba(243, 248, 0, 1);
  border-bottom: 5px solid rgba(243, 248, 0, 1);
}

.top-banner .box{
  line-height: 10em;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

.banner small{
  font-size: .5em;
}

#main .postavljeni{
  width: 100%;
  margin-top: 2%;
}

#main .postavljeni h1{
  text-indent: 1%;
  text-decoration: underline;
  color: rgba(243, 248, 0, 1);
}

#main .postavljeni .red{
  border-top: 1px dotted grey;
  /*border-bottom: 1px dotted grey;*/
  margin: 1% auto;
  padding-top: 1%;
  width: 98%;
}

#main .postavljeni .red:last-child{
  border-bottom: 1px dotted grey;
  padding-bottom: 1%;
  margin-bottom: 0;
}

#main .postavljeni .red a{
  color: white;
  text-decoration: none;
}

#oglasi a{
  text-decoration: none;
  color: white;
}

#oglasi a .oglas{
  border-top: 1px dotted grey;
}

#oglasi a .oglas:last-child{
  border-bottom: 1px dotted grey;
}

#main .postavljeni .oglas{
  width: 100%;
  padding: 1% 0;
}

#main .postavljeni .oglas h2{
  color: white;
}

#main .postavljeni .oglas h2:hover{
  text-decoration: underline;
}

#main .postavljeni a:hover > .oglas h2{
  color: rgba(243, 248, 0, 1);
}

#main .postavljeni .oglas em.more{
  color: rgba(243, 248, 0, 1);
}

#main .postavljeni .oglas em.more:hover{
  text-decoration: underline;
}

#main .jedanoglas-box{
  overflow: hidden;
}

#main .postavljeni .jedanoglas{
  margin: 2% 0 2% 2%;
  width: 70%;
  float: left;
}

#main .postavljeni .jedanoglas h2{
  color: white;
}

#main .postavljeni .oglas-opis{
  margin: 5% 0;
}

#main .postavljeni .dugmici{
  width: 28%;
  float: right;
}

#main .dugmici ul{
  list-style-type: none;

}

#main .dugmici li{
  line-height: 2.5em;
  text-align: center;
  width: 80%;
  margin: 3% auto;
  font-weight: bolder;
  text-transform: uppercase;
}

#main .ponude{
  width: 100%;
  overflow: hidden;
}

#main .jedna-ponuda{
  width: 90%;
  margin: 3% auto;
  overflow: hidden;
  border-bottom: 1px dotted grey;
  border-top: 1px dotted grey;
}

#main .ponude-box{
  width: 70%;
  float: left;
  margin: 1% 0 1% 1%;
}

#main .dugmici li.status{
  font-size: 1.2em;
}

#main .dugmici li a{
  display: block;
  background-color: rgba(243, 248, 0, 1);
  color: black;
  text-decoration: none;
}

#body{
  overflow: hidden;
  margin: 1em 0;
}

#body .sidebar{
  width: 20%;
  float: left;
}

#body .sidebar ul{
  list-style-type: none;
}

#body .sidebar ul li{
  line-height: 2em;
  border-bottom: 1px dotted white;
}

#body .sidebar ul li:first-child{
  border-top: 1px dotted white;
}

#body .sidebar ul li:hover{
  background-color: rgba(243, 248, 0, 1);
}

#body .sidebar ul li a:hover{
  color: black;
}

#body .sidebar ul li a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  display: block;
  margin-left: 5px;
}

#inbox{
  width: 79%;
  float: right;
  padding-left: 1%;
  border-left: 1px dotted grey;
  overflow: hidden;
  min-height: 350px;
}

#inbox .close a{
  float: right;
  background-color: rgba(252, 0, 0, 0.1);
  font-weight: bolder;
  padding: 5px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

#inbox .close a:hover{
  background-color: rgba(252, 0, 0, 1);
}

#inbox h2{
  font-size: 2em;
  text-transform: uppercase;
}

#inbox h3.nema{
  font-size: 1.5em;
  color: white;
}

#inbox .nemaPoruka{
  padding: 2% 0;
}

#inbox section{
  position: relative;
  width: 100%;
  padding: 1% 0;
  overflow: hidden;
}

#inbox .fromTo{
  width: 90%;
  padding: 2%;
  border-radius: 10px;
}

#inbox a{
  text-decoration: none;
  color: white;
}

#inbox h3:hover{
  text-decoration: underline;
}

#inbox form.posaljiLinija{
  bottom: 2%;
  line-height: 2em;
}

#inbox .posaljiLinija input.tekst{
  line-height: 2em;
  width: 79%;
}

#inbox .posaljiLinija input.button{
  line-height: 2em;
  width: 20%;
  background-color: rgba(243, 248, 0, 1);
  cursor: pointer;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bolder;
  color: black;
  border-radius: 5px;
}

#inbox .izmeniProfil{
  width: 98%;
  border: 1px solid rgba(243, 248, 0, 1);
  margin: 1% auto;
}

#inbox .naslov{
  width: 100%;
  background-color: rgba(243, 248, 0, 1);
  line-height: 3em;
  color: black;
}

#inbox .naslov h3{
  width: 98%;
  margin: 0 auto;
}

#inbox .naslov h3:hover{
  text-decoration: none;
}

#inbox .telo{
  margin: 2% 0;
}

#inbox .telo section{
  width: 60%;
  margin: 0 auto;
  line-height: 1.5em;
  text-align: center;
}

#inbox .telo label{
  width: 29%;
  float: left;
  text-align: right;
  line-height: 1.5em;
}

#inbox .telo .input{
  width: 69%;
  float: right;
  line-height: 1.5em;
  font-size: 1em;
}

#inbox .telo textarea{
  height: 20em;
}

#inbox .telo .submit{
  width: 30%;
  margin: 0 auto;
  background-color: rgba(243, 248, 0, 1);
  color: black;
  line-height: 1.5em;
  padding: 5px 0;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
  float: right;
}

#inbox .telo .submit:hover{
  font-weight: bolder;
}

#inbox .telo .dvaDugmeta{
  text-align: center;
}

#inbox .telo .dvaDugmeta button{
  margin: 0 1%;
  float: none;
}

#body .main-box{
  width: 79%;
  float: right;
  border-left: 1px dotted white;
  color: white;
  min-height: 300px;
}

#body .main-box h2.oglas{
  color: rgba(243, 248, 0, 1);
  width: 100%;
  margin: 15% 0;
  text-align: center;
  font-size: 2em;
}

#body .profile-box{
  width: 99%;
  margin: 0 auto;
}

#body .majstor-box{
  width: 98%;
  margin: 1% auto;
  border-bottom: 1px dotted white;
  color: white;
}

#body .majstor-box:last-child{
  border-bottom: none;
}

#body .naslov a{
  text-decoration: none;
  color: green;
}

#body .contact{
  margin-top: 1%;
  float: right;
}

#body .contact a{
  padding: 10px;
  background-color: rgba(243, 248, 0, 1);
  color: black;
  text-decoration: none;
  font-weight: bolder;
}
#main .body-box{
  color: white;
}

#body form.postaviOglas{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#body section.row{
  overflow: hidden;
  line-height: 3em;
  width: 100%;
}

#body section.row label{
  float: left;
  width: 30%;
  text-align: right;
}

#body section.row input, #body section.row select{
  width: 50%;
  float: right;
}

#body section button{
  width: 30%;
  line-height: 3em;
  color: black;
  font-weight: bolder;
  background-color: rgba(243, 248, 0, 1);
  font-family: serif;
}

#body textarea{
  height: 200px;
  width: 50%;
  float: right;
  margin-bottom: 2%;
}

#body label.opis{
  vertical-align: top;
  line-height: 1em;
}

footer{
  background-color: rgba(243, 248, 0, 1);
  border-top: 5px solid rgba(243, 248, 0, 1);
  padding-bottom: 5px;
}

footer .box{
  border-top: 10px solid black;
}

footer .copyright{
  text-align: center;
  font-size: 1.2em;
  border-top: 1px dotted black;
  margin-top: 1%;
}

footer .copyright a{
  text-decoration: none;
  color: black;
}

footer .copyright a small{
  font-size: 0.8em;
}
