*{
  margin: 0;
  padding: 0;
  /*-moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;*/
}

.wrapper{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

#main{
  width: 100%;
  position: relative;
  background-color: black;
}

.top-line{
  line-height: 3em;
  overflow: hidden;
}

nav{
  float: right;
  width: 100%;
  text-align: right;
}

nav ul{
  list-style-type: none;
  width: 100%;
}

nav ul li{
  display: inline;
  text-align: center;
}

nav ul li a{
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  width: 15%;
}

nav ul li a:hover{
  background-color: rgba(243, 248, 0, 1);
  color: black;
}

.top-banner{
  background-color: rgba(243, 248, 0, 1);
  border-top: 5px solid rgba(243, 248, 0, 1);
  border-bottom: 5px solid rgba(243, 248, 0, 1);
}

.top-banner .box{
  line-height: 10em;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

.banner small{
  font-size: .5em;
}

#body{
  overflow: hidden;
  margin: 1em 0;
}

#body .sidebar{
  width: 20%;
  float: left;
}

#body .sidebar ul{
  list-style-type: none;
}

#body .sidebar ul li{
  line-height: 2em;
  border-bottom: 1px dotted white;
}

#body .sidebar ul li:first-child{
  border-top: 1px dotted white;
}

#body .sidebar ul li:hover{
  background-color: rgba(243, 248, 0, 1);
}

#body .sidebar ul li a:hover{
  color: black;
}

#body .sidebar ul li a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  display: block;
  margin-left: 5px;
}

#body .main-box{
  width: 79%;
  float: right;
  border-left: 1px dotted white;
  color: white;
}

#body .main-box h2.oglas{
  color: rgba(243, 248, 0, 1);
  width: 100%;
  margin: 15% 0;
  text-align: center;
  font-size: 2em;
}

#body .profile-box{
  width: 99%;
  margin: 0 auto;
}

#body .majstor-box{
  width: 98%;
  margin: 1% auto;
  border-bottom: 1px dotted white;
  color: white;
}

#body .majstor-box:last-child{
  border-bottom: none;
}

#body .naslov a{
  text-decoration: none;
  color: green;
}

#body .contact{
  margin-top: 1%;
  float: right;
}

#body .contact a{
  padding: 10px;
  background-color: rgba(243, 248, 0, 1);
  color: black;
  text-decoration: none;
  font-weight: bolder;
}
#main .body-box{
  color: white;
}

#body form{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#body section.row{
  overflow: hidden;
  line-height: 3em;
  width: 100%;
}

#body section.row label{
  float: left;
  width: 30%;
  text-align: right;
}

#body section.row input, #body section.row select{
  width: 50%;
  float: right;
}

#body section button{
  width: 30%;
  line-height: 3em;
  color: black;
  font-weight: bolder;
  background-color: rgba(243, 248, 0, 1);
  font-family: serif;
}

#body textarea{
  height: 200px;
  width: 50%;
  float: right;
  margin-bottom: 2%;
}

#body label.opis{
  vertical-align: top;
  line-height: 1em;
}

footer{
  background-color: rgba(243, 248, 0, 1);
  border-top: 5px solid rgba(243, 248, 0, 1);
  padding-bottom: 5px;
}

footer .box{
  border-top: 10px solid black;
}

footer .copyright{
  text-align: center;
  font-size: 1.2em;
  border-top: 1px dotted black;
  margin-top: 1%;
}

footer .copyright a{
  text-decoration: none;
  color: black;
}

footer .copyright a small{
  font-size: 0.8em;
}
